@model FinalProject.Models.ForgotPasswordModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signin</title>
    <link href="~/Content/solid.min.css" rel="stylesheet" />
    <link href="~/Content/regular.min.css" rel="stylesheet" />
    <link href="~/Content/fontawesome.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/toastr.min.css" rel="stylesheet" />
    <link href="~/Content/forgotpassword.css" rel="stylesheet" />
</head>
<body>
    <div class="container forgotpassword-container w-50">
        <div class="row outer-row">
            <div class="col col-left">
                <section class="w-100">
                    <h2 class="text-center">Reset Password</h2>
                    <h6 class="text-center">It seems that you've forgotten your password</h6>
                    @using (Html.BeginForm("ForgotPassword", "Home", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken();
                        <div class="form-group mt-3">
                            <div>
                                @Html.LabelFor(model => model.Email, new { @class = "form-label" })
                                <span class="text-danger fw-bold">*</span>
                            </div>
                            <div class="input-group">
                                @Html.EditorFor(model => model.Email,
                               new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Your Email" } })
                                <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                            </div>
                            <small class="text-danger fw-bold">
                                @Html.ValidationMessageFor(model => model.Email)
                            </small>
                        </div>
                        <div class="form-group mt-3">
                            <div>
                                @Html.Label("New Password", new { @class = "form-label" })
                                <span class="text-danger fw-bold">*</span>
                            </div>
                            <div class="input-group">
                                @Html.EditorFor(model => model.NewPassword,
                               new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Your New Password" } })
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <small class="text-danger fw-bold">
                                @Html.ValidationMessageFor(model => model.NewPassword)
                            </small>
                        </div>
                        <div class="my-3">
                            <button class="btn login-button">Reset</button>
                        </div>
                    }
                </section>
            </div>
            <div class="col col-right">
            </div>
        </div>
    </div>

    @if (TempData["Error"] != null)
    {
        <span class="d-none" id="error-message">@TempData["Error"]</span>
    }

    @if (TempData["Success"] != null)
    {
        <span class="d-none" id="success-message">@TempData["Success"]</span>
    }

    <script src="~/Scripts/jquery-3.6.0.min.js"></script>
    <script src="~/Scripts/umd/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/toastr.min.js"></script>

    <script>
        $(function () {
            toastr.options = {
                closeButton: true,
                positionClass: "toast-top-center"
            }
            var errormessage = $("#error-message").text();
            if (errormessage != '') {
                toastr.error(errormessage);
            }
            var successmessage = $("#success-message").text();
            if (successmessage != '') {
                toastr.success(successmessage);
            }
        });
    </script>

</body>
</html>
